<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.0.7" targetFramework="net481" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net481" />
  <package id="System.Management" version="7.0.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.WindowsRuntime" version="5.0.0-preview.5.20278.1" targetFramework="net481" />
</packages>